.upload-container {
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
}
.upload-header {
  display: flex;                      
  justify-content: space-between;     
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 2px solid #fff; /* white line */
}
.add-btn {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn:hover {
  background-color: #fff;
}

.no-files {
  text-align: center;
  font-size: 16px;
  color: #555;
}
.file-list {
  height: 60vh;            
  display: flex;
  justify-content: center;  
  align-items: center;      
  flex-direction: column;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.select-file-btn {
  padding: 10px 18px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 6px;
  border: 2px solid #ccc;
  font-size: 15px;
  cursor: pointer;
}
.select-file-btn:hover {
  background-color: #f0f0f0;
}
.file-item {
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
}
.detect-redact-btn {
  position:absolute;
  bottom:20px;
  right:20px;
  padding: 10px 20px;
  background-color: darkblue; 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.detect-redact-btn:hover {
  background-color: #00008b;
}

